@import url(../common.css);

body {
    height: 3000px;
}

.head {

    background-color: #35A67D;
    position: fixed;
    width: 100%;
    height: 80px;
    z-index: 2000;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);

}

.head_box {
    width: 60%;
    margin: 0px auto;
}


.head .head-logo {
    margin: 30px auto;
    float: left;
}

.head-menu {
    width: 1100px;
    height: 80px;
    margin: 0px auto;
}


.head .menu {
    color: #fff;
    float: right;
    height: 100%;
    width: 90px;
    font-family: 'Yoon 윤고딕', '돋움', dotum, sans-serif;
    font-size: 13px;
    font-weight: 600;
    line-height: 80px;
    text-align: center;
    margin-left: 17px
}

.head-dropdown {
    margin-top: 80px;
    background: #fff;
    position: absolute;
    left: 0px;
    transform: translate(0%, -100%);
    z-index: 100;
    width: 100%;
    display: block;

}
.head-dropdown .dropdown-maincontainer{
    background-color: #fff;
    position: absolute;
    left: 50%;
    top: 290px;
    transform: translate(-50%, -50%);
    height: 420px;
    width: 100%;
}

.head-dropdown .dropdown-container {
    margin: 300px auto;
    margin-top: 50px;
    width: 1000px;
    text-align: center;
    background-color: #fff;


}

.head-dropdown .dropdown-container .dropdown-box {
    float: left;
    width: 13%;
    margin: 1.5%;
    
}


.head-dropdown .dropdown-container .dropdown {

    text-align: center;
    width: 100%;
    font-size: 17px;
    display: block;
    margin-bottom: 40px;
    font-weight: 600;
    
    
}

.head-dropdown .dropdown-container .sub-dropdown {
    font-size: 12px;
    line-height: 1.5;
    font-family: 'Yoon 윤고딕', '돋움', dotum, sans-serif;
    color: #444;
    margin-top: 40px;
    display: block;
}

 .head-dropdown {
    z-index: 9999;
    background-color: #fff ;
    position: fixed;
    width: 100%;
    height: 80px;
}
.dropdown-head_box {
    width: 60%;
    margin: 0px auto;
    
}

.dropdown-head-logo{
    margin: 30px auto;
    float: left;
}

.dropdown-head-menu{
    width: 1100px;
    height: 80px;
    margin: 0px auto;
}
.head-dropdown .dropdown-menu {
    color: #000;
    float: right;
    height: 100%;
    width: 90px;
    font-family: 'Yoon 윤고딕', '돋움', dotum, sans-serif;
    font-size: 13px;
    font-weight: 600;
    line-height: 80px;
    text-align: center;
    margin-left: 17px;

    
}



.head-dropdown {
    display: none;
}
.dropdown-menu_3:hover{

border-bottom: 2px solid #000;
}
.head-menu .menu_3:hover + .head-dropdown{
    
    display: block ;
}
.head-dropdown:hover{
    display: block ;
}

.head .menu_3 {
    border-bottom: white;

}


.head-menu .menu .docu {
    background: #fede22;
    border-radius: 22px;
    border: 1px solid #fede22;
    color: black;
    text-align: center;
    line-height: 45px;
    margin: 15px auto;
    width: 110px;
    height: 45px;
}


.main {
    height: 500px;
    background-color: #35A67D;
    position: relative;
}

.main_1 {
    color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.main_1 h2 {
    font-weight: 300;
    font-size: 24px;
    margin-bottom: 20px;

}

.main_1 span {
    font-weight: 300;
    font-size: 58px;
    line-height: 70px;

}


.main_2 {
    width: 800px;
    color: white;
    position: absolute;
    left: 50%;
    top: 85%;
    transform: translate(-50%, -50%);
    text-align: center;

}

.main_2 li {
    float: left;
    width: 200px;
    display: block;
    margin-left: 50px;
    line-height: 25px;
}

.main_2 li div {
    margin-bottom: 10px;
}

.main-2 {
    height: 630px;

}

.submain-1 {
    margin-top: 250px;
    margin-left: 400px;
    float: left;
    text-align: left;

}

.submain-1 div {
    font-size: 40px;
    line-height: 25px;
}

.submain-1 p {
    margin-top: 20px;
    float: left;
    font-size: 15px;
    line-height: 25px;
    color: #666;

}

.main-3 {
    height: 630px;
    background-color: #f7f7f7;
}

.submain-3 {
    margin-top: 250px;
    margin-right: 600px;
    float: right;
    text-align: left;

}

.submain-3 div {
    font-size: 40px;
    line-height: 50px;
}

.submain-3 p {
    margin-top: 20px;
    float: right;
    font-size: 15px;
    line-height: 25px;
    color: #666;

}

.submain-4 {
    margin-top: 40px;
    margin-left: 400px;
    float: left;
    text-align: left;

}




.main-4 {
    height: 630px;
}

.submain-5 {
    margin-top: 250px;
    margin-left: 400px;
    float: left;
    text-align: left;


}

.submain-5 div {
    font-size: 40px;
    line-height: 25px;
}

.submain-5 p {
    margin-top: 20px;
    float: left;
    font-size: 15px;
    line-height: 25px;
    color: #666;

}


.main-5 {
    height: 630px;
    background: #f7f7f7;
}

.submain-7 {
    margin-top: 250px;
    margin-right: 600px;
    float: right;
    text-align: left;

}

.submain-7 div {
    font-size: 40px;
    line-height: 50px;
}

.submain-7 p {
    margin-top: 20px;
    float: right;
    font-size: 15px;
    line-height: 25px;
    color: #666;

}

.submain-8 {
    margin-top: 40px;
    margin-left: 400px;
    float: left;
    text-align: left;

}

.main-6 {
    height: 630px;
    background-color: #3e4459;
    text-align: center;
    position: relative;

}

.submain-9 div {
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.submain-9 .img {
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.submain-9 h2 {
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-weight: normal;
    font-size: 40px;
    line-height: 1.3;
    color: #fff;

}


.submain-9 p {
    position: absolute;
    left: 50%;
    top: 70%;
    transform: translate(-50%, -50%);
    text-align: center;
    margin-top: 16px;
    font-size: 15px;
    font-weight: 200;
    line-height: 1.75;
    color: #fff;

}


.submain-9 footer {
    position: absolute;
    left: 50%;
    top: 90%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 15px;
    line-height: 1.6;
    color: #a5a7b2
}

.main-7 {
    height: 1000px;
    position: relative;
}

.submain-10 {
    width: 55%;
    margin: 10% auto;
}

.accordion {
    background-color: #fff;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    border-bottom: 1px solid #e6e6e6;

    text-align: left;
    outline: none;
    font-size: 18px;
    border-top: 1px solid #e6e6e6;

}

.active {
    background-color: #f4f4f4;

}



.panel {
    padding: 0 30px;
    display: none;
    background-color: #f4f4f4;
    overflow: hidden;
 

}

.panel a {
    float: right;
    font-weight: 200;
    font-size: 14px;
    line-height: 20px;
    color: #666;
   

}

.panel h3 {
    margin-top: 25px;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    color: #111;
    
}

.panel p {
    margin-top: 15px;
    font-weight: 200;
    font-size: 14px;
    line-height: 20px;
    color: #666;
    
}

.submain-11 {
    text-align: center;
    width: 1100px;
    margin: 0px auto;
}

.submain-11 h2 {
    font-weight: normal;
    font-size: 22px;
    color: #000;
    text-align: center;

}

.submain-11 a {
    float: left;
    margin-top: 20px;
    margin-right: 5px;
    width: 175px;
    height: 112px;
    text-align: left;
    padding: 20px 12px 12px 20px;
    border-radius: 2px;
    font-size: 14px;
    line-height: 20px;
    color: #fff;
}


.submain-11 .square1 {
    background: url('https://og.kakaobank.io/view/3a20c602-7ed4-49ab-9440-6faee4f22e9e') #35A67D no-repeat 110px 50px/50px 50px;
    ;
}

.submain-11 .square2 {
    background: url('https://og.kakaobank.io/view/3a20c602-7ed4-49ab-9440-6faee4f22e9e') #35A67D no-repeat 110px 50px/50px 50px;
}

.submain-11 .square3,
.square4,
.square5 {
    background: url('https://og.kakaobank.io/view/3a20c602-7ed4-49ab-9440-6faee4f22e9e') #35A67D no-repeat 110px 50px/50px 50px;
}


.submain-11 .square6,
.square7,
.square8,
.square9 {
    background: url('https://og.kakaobank.io/view/ccb85f9f-28cb-49f0-b6f3-b07827cc5260') #526baa no-repeat 110px 50px/50px 50px;
}

.tail {
    float: right;
    font-size: 14px;
    color: #888;
    margin-top: 100px;
    margin-right: 420px;

}

.submain-12 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.submain-12 a {
    float: left;
    padding: 4px 10px;
    font-size: 12px;
    color: #666;
    margin-right: 5px;
    border-right: 1px solid #d8d8d8;


}

.submain-13 div {
    font-size: 12px;
    text-align: left;
    padding-left: 9px;
    color: #888;
    margin-bottom: 2px;
}

.submain-13 .line2 {
    margin-top: 10px;
}



.submain-13 .phone {
    color: #000;
}

.submain-14 div {
    font-size: 13px;
    font-weight: 600;
    color: #666;
    padding: 9px;
    float: left;
    margin-top: 10px;
    line-height: 51px;
}

.submain-14 img {
    width: 48px;
    height: 32px;
    vertical-align: middle;
}

.main-8 {
    background-color: #f0f0f0;
}

.footer {
    padding-top: 10px;
    width: 65%;
    margin: 0 auto;
}