@import url(../common.css);
*{
    font-family: Arial, sans-serif;
}
.head .head-logo {
    float: left;
    font-size: ;
    


}
.head .head-logo {
    float: left;
    

}

.head .menu{
    float: right;
}